/*csslint unqualified-attributes:false, outline-none:false*/

.pure-button {
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 20px 30px;
    color: @btn-default-color-hex; /* rgba not supported (IE 8) */
    color: @btn-default-color; /* rgba supported */
    *color: @btn-default-color-hex; /* IE 6 & 7 */
    border: none @black;  /*IE9 + everything else*/
    background-color: @btn-default-bg;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
	.transition( 0.1s; box-shadow; linear );
    border-radius: 4px;
    -moz-box-shadow:    0px 4px 0px 0px #105375;
    box-shadow:         0px 4px 0px 0px #105375;

    font-family: Raleway-Bold;
    font-size: 20px !important;
    color: #1D222B;
    line-height: 24px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
    border-radius: 4px;
    /* BG: */
    background: #0088CD;
    -moz-box-shadow:    0px 4px 0px 0px #0D6592;
    box-shadow:         0px 4px 0px 0px #0D6592;

    font-family: Raleway-Bold;
    font-size: 20px;
    color: #1D222B;
    line-height: 24px;
    /* 20:30: */
}
.pure-button:focus {
    outline: 0;
}
.pure-button-active,
.pure-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    background-color: #166590;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.pure-button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}


.login-button {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  border-radius: 0px;
  position: relative;
  width: 280px;
  height: 20px;
  padding: 25px;
  margin: 0 auto;
  text-align: center;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  text-decoration: none;


  font-family: Raleway-Bold;
  font-weight: 700;
  font-size: 18px;
  color: #1D222B;
  line-height: 21px;

  &:before {
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      position: absolute;
      right: -25px;
      top: 0;
      content: "";
      width: 0;
      height: 0;
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      border-left: 25px solid rgba(255, 255, 255, 0.8);
  }

  &:hover {
      background-image: none;
      background-color: rgba(255, 255, 255, 1);

      &:before {
          border-left: 25px solid rgba(255, 255, 255, 1);
      }
  }
}

.registration-button {
  margin: 40px auto 0px;
  display: block;
}


@media (max-width: 680px) {
  .pure-button {
    font-size: 18px !important;
    display: block;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}


.registration-button {
  margin: 40px auto 0px;
  display: block;

}