@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,700,800);


@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-Medium.otf')  format('opentype'),
	     url('../fonts/GothamRounded-Medium.woff') format('woff'), url('../fonts/GothamRounded-Medium.ttf')  format('truetype'), url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-Light';
  src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-Light.otf')  format('opentype'),
	     url('../fonts/GothamRounded-Light.woff') format('woff'), url('../fonts/GothamRounded-Light.ttf')  format('truetype'), url('../fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-Book.otf')  format('opentype'),
	     url('../fonts/GothamRounded-Book.woff') format('woff'), url('../fonts/GothamRounded-Book.ttf')  format('truetype'), url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-Bold';
  src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-Bold.otf')  format('opentype'),
	     url('../fonts/GothamRounded-Bold.woff') format('woff'), url('../fonts/GothamRounded-Bold.ttf')  format('truetype'), url('../fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}




// styles
.page-title {
  font-family: Raleway-ExtraBold;
  font-size: 79px;
  color: @brown;
  line-height: 92px;
  position: relative;
  top: -27px;
  width: 664px;
  margin: 0 auto;
  left: 164px;
}


h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway-Bold;
}

h2 {
  font-size: 30px;
  line-height: 35px;
}
h3 {
  font-size: 24px;
  line-height: 34px;
}
h4 {
  font-size: 20px;
  line-height: 24px;
}

p {
  font-family: GothamRounded-Book;
  font-size: 14px;
  line-height: 21px;
  /* Kombinace a nasazení: */
  small {
    font-size: 11px;
    line-height: 15px;
  }
}


blockquote {
  font-family: GothamRounded-LightItalic;
  font-size: 17px;
  line-height: 20px;
}

.introduction {
  font-family: GothamRounded-Book;
  font-size: 18px;
  line-height: 26px;
}






@media (max-width: 680px) {
  
  // styles
  .page-title {
    font-family: Raleway-ExtraBold;
    font-size: 30px;
    color: #211f21;
    line-height: 92px;
    position: relative;
    top: 0px;
    left: 0px;
    clear: both;
    padding: 0 20px;
  }

  h2 {
    font-size: 30px;
    line-height: 35px;
  }
  h3 {
    font-size: 24px;
    line-height: 34px;
  }
  h4 {
    font-size: 20px;
    line-height: 24px;
  }

  p {
    font-family: GothamRounded-Book;
    font-size: 14px;
    line-height: 21px;
    /* Kombinace a nasazení: */
    small {
      font-size: 11px;
      line-height: 15px;
    }
  }


  blockquote {
    font-family: GothamRounded-LightItalic;
    font-size: 17px;
    line-height: 20px;
  }

  .introduction {
    font-family: GothamRounded-Book;
    font-size: 18px;
    line-height: 26px;
  }

}





























