input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
   margin: 10px 0px;
}
input[type="checkbox"] + label span {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid @blue;
	
}
input[type="checkbox"]:checked + label span {
  background: url(../images/arrow.svg) center center no-repeat;
  background-size: 14px 10px; 
}


@media (max-width: 680px) {
	input[type="checkbox"] + label {
   margin: 20px 0px;
	}
}

input[type="radio"] {
	.transition(all;1s);
  display:none;
}

input[type="radio"] + label:hover {
  color: @blue;
}
input[type="radio"] + label:hover span:after{
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 6px;
  left: 6px;

  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}

input[type="radio"] + label span {
  position: relative;
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  cursor:pointer;
  

  -webkit-box-shadow:inset 0 0 0 1px #cdcdcd;
  -moz-box-shadow:inset 0 0 0 1px #cdcdcd;
  box-shadow:inset 0 0 0 1px #cdcdcd;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  margin-left: 10px;
}
input[type="radio"] + label:hover span,
input[type="radio"] + label span:hover {
  -webkit-box-shadow:inset 0 0 0 1px @blue;
  -moz-box-shadow:inset 0 0 0 1px @blue;
  box-shadow:inset 0 0 0 1px @blue;
}
input[type="radio"]:checked + label span {
  -webkit-box-shadow:inset 0 0 0 1px @blue;
  -moz-box-shadow:inset 0 0 0 1px @blue;
  box-shadow:inset 0 0 0 1px @blue;
}
input[type="radio"]:checked + label {
  color: @blue;
}
input[type="radio"]:checked + label span:after {
  content: "";
  display: block;
  background-color: @blue;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 6px;
  left: 6px;

  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}

@media (max-width: 680px) {
	input[type="radio"] + label {
   margin: 20px 10px 20px  0;
   display: inline-block;
	}
}



.pure-form {
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="week"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	select {
		width: 230px;
		height: 50px;
		margin: 5px 0px;
		
	}
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="week"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select,
	textarea {
		-webkit-appearance: none;
  	-webkit-border-radius: 0px;
		padding: 0.5em 0.6em;
		display: inline-block;
		border: 1px solid #fff;
		font-size: 0.8em;
		box-shadow: inset 0 1px 3px @form-shadow-color;
		.transition( 0.3s; border; linear );
		.box-sizing( border-box );
		-webkit-font-smoothing: antialiased;
		/* Rectangle 13: */
		background: #F0F0F0;

		font-family: GothamRounded-LightItalic;
		font-size: 14px;
		line-height: 17px;
		/* e-mailová adresa: */

		&:focus{
			outline: 0;
			outline: thin dotted \9; /* IE6-9 */
			border-color: @form-border-color-focus;
		}

		&[disabled] {
			cursor: not-allowed;
			background-color: @form-disabled-bg;
			color: @form-disabled-color;
		}
	}

	input[type="file"]:focus,
	input[type="radio"]:focus,
	input[type="checkbox"]:focus {
		outline: thin dotted @checkbox-outline-color;
		outline: 1px auto @form-border-color-focus;

		&:invalid:focus {
			outline-color: @form-invalid-border-color-focus;
		}
	}

	.pure-checkbox,
	.pure-radio {
		margin: 0.5em 0;
		display: block;
	}

	input[readonly],
	select[readonly],
	textarea[readonly] {
		background: @menu-hover-bg;
		color: @menu-text-color;
		border-color: @form-border-color;

		&:focus {
			background: @menu-hover-bg;
			color: @menu-text-color;
			border-color: @form-border-color;
		}
	}

	input:focus:invalid,
	textarea:focus:invalid,
	select:focus:invalid {
		color: @form-invalid-color;
		border: 1px solid @form-invalid-border-color;

		&:focus {
			border-color: @form-invalid-border-color-focus;
		}
	}

	select {

		&[multiple] {
			height:auto;
		}
	}

	label {
		margin: 0.5em 0 0.2em;
		font-size: 90%;
	}

	fieldset {
		margin: 0;
		padding: 0.35em 0 0.75em;
		border:0;
	}

	legend {
		display: block;
		width:100%;
		padding: 0.3em 0;
		margin-bottom: 0.3em;
		font-size: 125%;
		color: @form-legend-color;
		border-bottom: 1px solid @form-legend-border-color;
	}

	/* Rounded Inputs */
	input.pure-input-rounded,
	.pure-input-rounded {
		padding: 0.5em 1em;
	}

	/* Grouped Inputs */
	.pure-group {
		fieldset {
			margin-bottom:10px;
		}
		input {
			display:block;
			padding:10px;
			margin:0;
			position:relative;
			top:-1px;

			&:focus {
				z-index:2;
			}
			&:first-child {
				top:1px;
			}
			&:last-child {
				top:-1px;
			}
		}
		button {
			margin: 0.35em 0;
		}
	}

	.pure-input-1 {
		width: 100%;
	}
	.pure-input-2-3 {
		width: 66%;
	}
	.pure-input-1-2 {
		width: 50%;
	}
	.pure-input-1-3 {
		width: 33%;
	}
	.pure-input-1-4 {
		width: 25%;
	}
}

.pure-form-stacked {
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="week"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select,
	label,
	textarea {
    display: block;
    margin: 0.25em 0;
	}
}

.pure-form-aligned {
	input,
	textarea,
	select,
	/* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
	.pure-help-inline {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		vertical-align: middle;
	}

	.pure-control-group {
		margin-bottom: 0.5em;

		label {
			text-align:right;
			display: inline-block;
			vertical-align:middle;
			width:10em;
			margin:0 1em 0 0;
		}
	}

	.pure-controls {
		margin: 1.5em 0 0 10em;
	}
}

/** Inline help for forms
 * NOTE: pure-help-inline is deprecated.
 * Use .pure-form-message-inline instead.
 */
.pure-form .pure-help-inline,
.pure-form-message-inline {
	display: inline-block;
	padding-left: 0.3em;
	color: #666;
	vertical-align: middle;
	font-size: 90%;
}

/* Block help for forms */
.pure-form-message {
	display: block;
	color: #666;
	font-size: 90%;
}

.pure-form-valid {
	color: #0088CD;
}

.pure-form-invalid {
	color: #F42222;
}