a {
	font-family: GothamRounded-Book;
	font-size: 14px;
	color: #1F79A6;
	line-height: 20px;

	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;

	&:hover {
		color: #0088CD;
	}
}