.article-page {
	background-color: @brown;

	header {
		background-image: url(../images/bcg.jpg);
		background-size: cover;
		height: 210px;
		width: 100%;
	}
}

.wrapper {
	width: 664px;
	margin: 0 auto;
	.content {
		padding-top: 20px;
		color: #fff;
		padding-left: 170px;
	}
}

// list style
.content {
	padding-bottom: 50px;
	ul  > li {
		font-family: GothamRounded-Book;
		font-size: 14px;
		line-height: 20px;
		margin: 15px 0px;
	}	
}

@media (max-width: 680px) { 

.article-page {
	background-color: #fff;

	header {
		background-image: none;
		height: 310px;
		width: 100%;
	}
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	.content {
		padding: 0 20px 50px;
		color: #211F21;
	}
}

// list style
.content {
	padding-bottom: 50px;
	ul  > li {
		font-family: GothamRounded-Book;
		font-size: 14px;
		line-height: 20px;
		margin: 15px 0px;
	}	
}


}