a[href="pages/seminare.html"],
a[href="seminare.html"] {
	display: none;
	visibility: hidden;
	opacity: 0;
	width: 0px;
	height: 0px;
}
nav li a[href="seminare.html"],
nav li a[href="pages/seminare.html"] {
	margin-bottom: 0px;
}

html, body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}


.homepage {
	.bg {
		z-index: -1;
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background: url(../images/bcg.jpg) center center no-repeat;
		background-size: cover;
		width: 100%;
		min-height: 800px;
	}

	h4 {
		text-align: center;
		font-family: GothamRounded-Book;
		font-size: 18px;
		color: #211F21;
		line-height: 25px;
		margin: 70px 0 140px; 

		span {
			font-size: 15px;
		}
	}
	.content {
		padding: 0 20px;
	}
}

@media (max-width: 680px) { 
	.homepage {
	.bg {
		visibility: hidden;
	}

	h4 {
		text-align: center;
		font-family: GothamRounded-Book;
		font-size: 18px;
		color: #211F21;
		line-height: 25px;
		margin: 70px 0 30px; 

		span {
			font-size: 15px;
		}
	}
}

}



