nav {
	width: 695px;
	margin: 0 auto;
	text-align: left;
	
	.site-logo {
		display: block;
		background-image: url(../images/logo.png);
		width: 114px;
		height: 83px;
		background-size: contain;
		float: left;
		margin-top: 65px;
	}

	ul {
		margin: 0px;
		padding: 98px 0 45px;
	}

	li {
		list-style: none;
		display: inline-block;

		&:first-child {
			a {
				margin-left: 70px;
			}
		}

		a {
			transition: all 0.2s;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			text-decoration: none;
			font-family: 'Raleway', sans-serif;
			font-size: 19px;
			color: #211F21;
			font-weight: 800;
			margin-left: 55px;

			&:hover {
				color: #0088CD;
			}
		}
	}
}

@media (max-width: 680px) {

	nav {
	width: 100%;

	.site-logo {
		float: none;
		margin: 0px auto 0px;
		top: 50px;
		position: relative;
	}

	ul {
		margin: 0px;
		padding: 98px 0 45px;
	}

	li {
		text-align: center;
		width: 25%;
		float: left;
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-block;

		&:first-child {
			a {
				margin-left: 0px;
			}
		}
		}
		li a {
			margin-left: 0px;
		}
	}
}


@media (max-width: 470px) {

	nav {
	width: 100%;

	li {
		width: 50%;
		float: left;

		

		&:first-child {
			a {
				margin-left: 0px;
			}
		}
		}
		a {
			display: block;
			margin-left: 0px;
			margin-bottom: 25px;
		}
	}
}
