span.chyba {
	font-size: 11px;
	margin-left: 5px;
}

.registrace .kalkulace input {
	background-color: @brown !important;
	border: 1px solid @brown;
}

.registrace th {
	text-align: left;
}

.zavazne-prihlas {
	display: block;
	margin: 30px auto 50px !important;
}
.checkbox-array div {
	margin: 5px 0px !important; 
}

.registration-table {
	margin: 0 auto;
	th {
		padding-right: 9px;
	}
}

.registarce {
		/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
}
	.mobile-heading,
	.label-mobile {
		visibility: hidden;
		display: none;
	}

@media (max-width: 680px) {
	.registration-main-table {
		th {
			visibility: hidden;
			width: 0px;
			position: absolute;
			left: -99999999px;
		}
		td {
			position: relative;
		}
		tr {
			margin: 40px 0 0 0;
			display: block;
		}
	}
	
	.registrace .introduction {
		margin-top: 70px;
	}

	.label-mobile {	
		visibility: visible;
		display: block;
		position: absolute;
		top: -21px;
		left: 0px;
	}
	.mobile-heading {
		visibility: visible;
		display: block;
		margin-bottom: 10px;
	}
}