@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,700,800);
/*!
 * Pure-LESS v0.6.1
 *
 * Uses Pure v0.2.1
 *
 * @author Mattia Migliorini "deshack" - http://www.deshack.net
 */
@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Medium.otf') format('opentype'), url('../fonts/GothamRounded-Medium.woff') format('woff'), url('../fonts/GothamRounded-Medium.ttf') format('truetype'), url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-Light';
  src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Light.otf') format('opentype'), url('../fonts/GothamRounded-Light.woff') format('woff'), url('../fonts/GothamRounded-Light.ttf') format('truetype'), url('../fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Book.otf') format('opentype'), url('../fonts/GothamRounded-Book.woff') format('woff'), url('../fonts/GothamRounded-Book.ttf') format('truetype'), url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded-Bold';
  src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Bold.otf') format('opentype'), url('../fonts/GothamRounded-Bold.woff') format('woff'), url('../fonts/GothamRounded-Bold.ttf') format('truetype'), url('../fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.page-title {
  font-family: Raleway-ExtraBold;
  font-size: 79px;
  color: #211f21;
  line-height: 92px;
  position: relative;
  top: -27px;
  width: 664px;
  margin: 0 auto;
  left: 164px;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway-Bold;
}
h2 {
  font-size: 30px;
  line-height: 35px;
}
h3 {
  font-size: 24px;
  line-height: 34px;
}
h4 {
  font-size: 20px;
  line-height: 24px;
}
p {
  font-family: GothamRounded-Book;
  font-size: 14px;
  line-height: 21px;
  /* Kombinace a nasazení: */
}
p small {
  font-size: 11px;
  line-height: 15px;
}
blockquote {
  font-family: GothamRounded-LightItalic;
  font-size: 17px;
  line-height: 20px;
}
.introduction {
  font-family: GothamRounded-Book;
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 680px) {
  .page-title {
    font-family: Raleway-ExtraBold;
    font-size: 30px;
    color: #211f21;
    line-height: 92px;
    position: relative;
    top: 0px;
    left: 0px;
    clear: both;
    padding: 0 20px;
  }
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
  h3 {
    font-size: 24px;
    line-height: 34px;
  }
  h4 {
    font-size: 20px;
    line-height: 24px;
  }
  p {
    font-family: GothamRounded-Book;
    font-size: 14px;
    line-height: 21px;
    /* Kombinace a nasazení: */
  }
  p small {
    font-size: 11px;
    line-height: 15px;
  }
  blockquote {
    font-family: GothamRounded-LightItalic;
    font-size: 17px;
    line-height: 20px;
  }
  .introduction {
    font-family: GothamRounded-Book;
    font-size: 18px;
    line-height: 26px;
  }
}
a {
  font-family: GothamRounded-Book;
  font-size: 14px;
  color: #1F79A6;
  line-height: 20px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
a:hover {
  color: #0088CD;
}
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
.pure article,
.pure aside,
.pure details,
.pure figcaption,
.pure figure,
.pure footer,
.pure header,
.pure hgroup,
.pure main,
.pure nav,
.pure section,
.pure summary {
  display: block;
}
.pure audio,
.pure canvas,
.pure video {
  display: inline-block;
}
.pure audio:not([controls]) {
  display: none;
  height: 0;
}
.pure [hidden] {
  display: none;
}
.pure html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.pure body {
  margin: 0;
}
.pure a:focus {
  outline: thin dotted;
}
.pure a:active,
.pure a:hover {
  outline: 0;
}
.pure h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.pure abbr[title] {
  border-bottom: 1px dotted;
}
.pure b,
.pure strong {
  font-weight: bold;
}
.pure dfn {
  font-style: italic;
}
.pure hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.pure mark {
  background: #ff0;
  color: #000;
}
.pure code,
.pure kbd,
.pure pre,
.pure samp {
  font-family: monospace, serif;
  font-size: 1em;
}
.pure pre {
  white-space: pre-wrap;
}
.pure q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.pure small {
  font-size: 80%;
}
.pure sub,
.pure sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.pure sup {
  top: -0.5em;
}
.pure sub {
  bottom: -0.25em;
}
.pure img {
  border: 0;
}
.pure svg:not(:root) {
  overflow: hidden;
}
.pure figure {
  margin: 0;
}
.pure fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.pure legend {
  border: 0;
  padding: 0;
}
.pure button,
.pure input,
.pure select,
.pure textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
.pure button,
.pure input {
  line-height: normal;
}
.pure button,
.pure select {
  text-transform: none;
}
.pure button,
.pure html input[type="button"],
.pure input[type="reset"],
.pure input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.pure button[disabled],
.pure html input[disabled] {
  cursor: default;
}
.pure input[type="checkbox"],
.pure input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.pure input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.pure input[type="search"]::-webkit-search-cancel-button,
.pure input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.pure button::-moz-focus-inner,
.pure input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.pure textarea {
  overflow: auto;
  vertical-align: top;
}
.pure table {
  border-collapse: collapse;
  border-spacing: 0;
}
.pure-button {
  /* Structure */
  display: inline-block;
  *display: inline;
  /*IE 6/7*/
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/*csslint unqualified-attributes:false, outline-none:false*/
.pure-button {
  *overflow: visible;
  /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
  padding: 20px 30px;
  /* rgba not supported (IE 8) */
  color: #1d222b;
  /* rgba supported */
  *color: #1d222b;
  /* IE 6 & 7 */
  border: none #000000;
  /*IE9 + everything else*/
  background-color: #1f79a6;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: 0.1s box-shadow linear;
  -moz-transition: 0.1s box-shadow linear;
  -ms-transition: 0.1s box-shadow linear;
  -o-transition: 0.1s box-shadow linear;
  transition: 0.1s box-shadow linear;
  border-radius: 4px;
  -moz-box-shadow: 0px 4px 0px 0px #105375;
  box-shadow: 0px 4px 0px 0px #105375;
  font-family: Raleway-Bold;
  font-size: 20px !important;
  color: #1D222B;
  line-height: 24px;
}
.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  border-radius: 4px;
  /* BG: */
  background: #0088CD;
  -moz-box-shadow: 0px 4px 0px 0px #0D6592;
  box-shadow: 0px 4px 0px 0px #0D6592;
  font-family: Raleway-Bold;
  font-size: 20px;
  color: #1D222B;
  line-height: 24px;
  /* 20:30: */
}
.pure-button:focus {
  outline: 0;
}
.pure-button-active,
.pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  background-color: #166590;
}
.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
}
.pure-button-hidden {
  display: none;
}
/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.login-button {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  border-radius: 0px;
  position: relative;
  width: 280px;
  height: 20px;
  padding: 25px;
  margin: 0 auto;
  text-align: center;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  text-decoration: none;
  font-family: Raleway-Bold;
  font-weight: 700;
  font-size: 18px;
  color: #1D222B;
  line-height: 21px;
}
.login-button:before {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  position: absolute;
  right: -25px;
  top: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 25px solid rgba(255, 255, 255, 0.8);
}
.login-button:hover {
  background-image: none;
  background-color: #ffffff;
}
.login-button:hover:before {
  border-left: 25px solid #ffffff;
}
.registration-button {
  margin: 40px auto 0px;
  display: block;
}
@media (max-width: 680px) {
  .pure-button {
    font-size: 18px !important;
    display: block;
    color: #fff;
  }
  .pure-button:hover {
    color: #fff;
  }
}
.registration-button {
  margin: 40px auto 0px;
  display: block;
}
/* This page has Normalize.css form-specific style rules applied to a .pure-form context */
/* ==========
   Forms Core
   =========*/
.pure-form {
  /**
	 * Corrects margin displayed oddly in IE 6/7.
	 */
  margin: 0;
  /**
	 * Define consistent border, margin, and padding.
	 */
  /**
	 * 1. Corrects color not being inherited in IE 6/7/8/9.
	 * 2. Corrects text not wrapping in Firefox 3.
	 * 3. Corrects alignment displayed oddly in IE 6/7.
	 */
  /**
	 * 1. Corrects font size not being inherited in all browsers.
	 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
	 *    and Chrome.
	 * 3. Improves appearance and consistency in all browsers.
	 */
  /**
	 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
	 * the UA stylesheet.
	 */
  /**
	 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
	 *    and `video` controls.
	 * 2. Corrects inability to style clickable `input` types in iOS.
	 * 3. Improves usability and consistency of cursor style between image-type
	 *    `input` and others.
	 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
	 *    Known issue: inner spacing remains in IE 6.
	 */
  /**
	 * Re-set default cursor for disabled elements.
	 */
  /**
	 * 1. Addresses box sizing set to content-box in IE 8/9.
	 * 2. Removes excess padding in IE 8/9.
	 * 3. Removes excess padding in IE 7.
	 *    Known issue: excess padding remains in IE 6.
	 */
  /**
	 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
	 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
	 *    (include `-moz` to future-proof).
	 */
  /**
	 * Removes inner padding and border in Firefox 3+.
	 */
  /**
	 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
	 * 2. Improves readability and alignment in all browsers.
	 */
}
.pure-form fieldset {
  border: 1px solid #0088cd;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.pure-form legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
.pure-form button,
.pure-form input,
.pure-form select,
.pure-form textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
.pure-form button,
.pure-form input {
  line-height: normal;
}
.pure-form button,
.pure-form input[type="button"],
.pure-form input[type="reset"],
.pure-form input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
.pure-form button[disabled],
.pure-form input[disabled] {
  cursor: default;
}
.pure-form input[type="checkbox"],
.pure-form input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
.pure-form input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /**
		 * Removes inner padding and search cancel button
		 * in Safari 5 and Chrome on OS X.
		 */
}
.pure-form input[type="search"]::-webkit-search-cancel-button,
.pure-form input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.pure-form button::-moz-focus-inner,
.pure-form input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.pure-form textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  margin: 10px 0px;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #1f79a6;
}
input[type="checkbox"]:checked + label span {
  background: url(../images/arrow.svg) center center no-repeat;
  background-size: 14px 10px;
}
@media (max-width: 680px) {
  input[type="checkbox"] + label {
    margin: 20px 0px;
  }
}
input[type="radio"] {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  display: none;
}
input[type="radio"] + label:hover {
  color: #1f79a6;
}
input[type="radio"] + label:hover span:after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
input[type="radio"] + label span {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 1px #cdcdcd;
  -moz-box-shadow: inset 0 0 0 1px #cdcdcd;
  box-shadow: inset 0 0 0 1px #cdcdcd;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-left: 10px;
}
input[type="radio"] + label:hover span,
input[type="radio"] + label span:hover {
  -webkit-box-shadow: inset 0 0 0 1px #1f79a6;
  -moz-box-shadow: inset 0 0 0 1px #1f79a6;
  box-shadow: inset 0 0 0 1px #1f79a6;
}
input[type="radio"]:checked + label span {
  -webkit-box-shadow: inset 0 0 0 1px #1f79a6;
  -moz-box-shadow: inset 0 0 0 1px #1f79a6;
  box-shadow: inset 0 0 0 1px #1f79a6;
}
input[type="radio"]:checked + label {
  color: #1f79a6;
}
input[type="radio"]:checked + label span:after {
  content: "";
  display: block;
  background-color: #1f79a6;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
@media (max-width: 680px) {
  input[type="radio"] + label {
    margin: 20px 10px 20px  0;
    display: inline-block;
  }
}
.pure-form {
  /* Rounded Inputs */
  /* Grouped Inputs */
}
.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form select {
  width: 230px;
  height: 50px;
  margin: 5px 0px;
}
.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #fff;
  font-size: 0.8em;
  box-shadow: inset 0 1px 3px #dddddd;
  -webkit-transition: 0.3s border linear;
  -moz-transition: 0.3s border linear;
  -ms-transition: 0.3s border linear;
  -o-transition: 0.3s border linear;
  transition: 0.3s border linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* Rectangle 13: */
  background: #F0F0F0;
  font-family: GothamRounded-LightItalic;
  font-size: 14px;
  line-height: 17px;
  /* e-mailová adresa: */
}
.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  border-color: #0088cd;
}
.pure-form input[type="text"][disabled],
.pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled],
.pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled],
.pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled],
.pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled],
.pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled],
.pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled],
.pure-form input[type="color"][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
  outline: thin dotted #333333;
  outline: 1px auto #0088cd;
}
.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
.pure-form .pure-checkbox,
.pure-form .pure-radio {
  margin: 0.5em 0;
  display: block;
}
.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  background: #eeeeee;
  color: #777777;
  border-color: #cccccc;
}
.pure-form input[readonly]:focus,
.pure-form select[readonly]:focus,
.pure-form textarea[readonly]:focus {
  background: #eeeeee;
  color: #777777;
  border-color: #cccccc;
}
.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
  color: #b94a48;
  border: 1px solid #ee5f5b;
}
.pure-form input:focus:invalid:focus,
.pure-form textarea:focus:invalid:focus,
.pure-form select:focus:invalid:focus {
  border-color: #e9322d;
}
.pure-form select[multiple] {
  height: auto;
}
.pure-form label {
  margin: 0.5em 0 0.2em;
  font-size: 90%;
}
.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  font-size: 125%;
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
}
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
  padding: 0.5em 1em;
}
.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}
.pure-form .pure-group input {
  display: block;
  padding: 10px;
  margin: 0;
  position: relative;
  top: -1px;
}
.pure-form .pure-group input:focus {
  z-index: 2;
}
.pure-form .pure-group input:first-child {
  top: 1px;
}
.pure-form .pure-group input:last-child {
  top: -1px;
}
.pure-form .pure-group button {
  margin: 0.35em 0;
}
.pure-form .pure-input-1 {
  width: 100%;
}
.pure-form .pure-input-2-3 {
  width: 66%;
}
.pure-form .pure-input-1-2 {
  width: 50%;
}
.pure-form .pure-input-1-3 {
  width: 33%;
}
.pure-form .pure-input-1-4 {
  width: 25%;
}
.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"],
.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="url"],
.pure-form-stacked input[type="date"],
.pure-form-stacked input[type="month"],
.pure-form-stacked input[type="time"],
.pure-form-stacked input[type="datetime"],
.pure-form-stacked input[type="datetime-local"],
.pure-form-stacked input[type="week"],
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="search"],
.pure-form-stacked input[type="tel"],
.pure-form-stacked input[type="color"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}
.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
.pure-form-aligned .pure-help-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em;
}
.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 10em;
}
/** Inline help for forms
 * NOTE: pure-help-inline is deprecated.
 * Use .pure-form-message-inline instead.
 */
.pure-form .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 90%;
}
/* Block help for forms */
.pure-form-message {
  display: block;
  color: #666;
  font-size: 90%;
}
.pure-form-valid {
  color: #0088CD;
}
.pure-form-invalid {
  color: #F42222;
}
@media only screen and (max-width: 480px) {
  .pure-form button[type="submit"] {
    margin: 0.7em 0 0;
  }
  .pure-form input[type="text"],
  .pure-form input[type="password"],
  .pure-form input[type="email"],
  .pure-form input[type="url"],
  .pure-form input[type="date"],
  .pure-form input[type="month"],
  .pure-form input[type="time"],
  .pure-form input[type="datetime"],
  .pure-form input[type="datetime-local"],
  .pure-form input[type="week"],
  .pure-form input[type="number"],
  .pure-form input[type="search"],
  .pure-form input[type="tel"],
  .pure-form input[type="color"],
  .pure-form label {
    margin-bottom: 0.3em;
    display: block;
  }
  .pure-group input[type="text"],
  .pure-group input[type="password"],
  .pure-group input[type="email"],
  .pure-group input[type="url"],
  .pure-group input[type="date"],
  .pure-group input[type="month"],
  .pure-group input[type="time"],
  .pure-group input[type="datetime"],
  .pure-group input[type="datetime-local"],
  .pure-group input[type="week"],
  .pure-group input[type="number"],
  .pure-group input[type="search"],
  .pure-group input[type="tel"],
  .pure-group input[type="color"],
  .pure-group label {
    margin-bottom: 0;
  }
  .pure-form-aligned .pure-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }
  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 0;
  }
  /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
  .pure-form .pure-help-inline,
  .pure-form-message-inline,
  .pure-form-message {
    display: block;
    font-size: 80%;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em;
  }
}
.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #333;
}
.pure-table caption {
  color: #333333;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
.pure-table td,
.pure-table th {
  border-left: 1px solid #333333;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
}
.pure-table td:first-child,
.pure-table th:first-child {
  border-left-width: 0;
}
.pure-table td {
  font-family: GothamRounded-Book;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
  /* Body: Text: */
  padding: 6px 12px;
}
.pure-table th {
  font-family: SourceSansPro-Bold;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #333;
  line-height: 20px;
  /* Hlavička Buňky: */
  padding: 12px 14px;
}
.pure-table thead {
  background: #333333;
  color: #ffffff;
  text-align: left;
  vertical-align: bottom;
}
.pure-table td {
  background-color: transparent;
}
@media (max-width: 680px) {
  .pure-table td {
    color: #211f21 !important;
  }
}
.pure-table-odd td {
  background-color: #f2f2f2;
}
.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}
/* Bordered Tables */
.pure-table-bordered td {
  border-bottom: 1px solid #333333;
}
.pure-table-bordered tbody > tr:last-child td {
  border-bottom-width: 0;
}
/* Horizontal Bordered Tables */
.pure-table-horizontal td,
.pure-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #333333;
}
.pure-table-horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}
nav {
  width: 695px;
  margin: 0 auto;
  text-align: left;
}
nav .site-logo {
  display: block;
  background-image: url(../images/logo.png);
  width: 114px;
  height: 83px;
  background-size: contain;
  float: left;
  margin-top: 65px;
}
nav ul {
  margin: 0px;
  padding: 98px 0 45px;
}
nav li {
  list-style: none;
  display: inline-block;
}
nav li:first-child a {
  margin-left: 70px;
}
nav li a {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  color: #211F21;
  font-weight: 800;
  margin-left: 55px;
}
nav li a:hover {
  color: #0088CD;
}
@media (max-width: 680px) {
  nav {
    width: 100%;
  }
  nav .site-logo {
    float: none;
    margin: 0px auto 0px;
    top: 50px;
    position: relative;
  }
  nav ul {
    margin: 0px;
    padding: 98px 0 45px;
  }
  nav li {
    text-align: center;
    width: 25%;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  nav li:first-child a {
    margin-left: 0px;
  }
  nav li a {
    margin-left: 0px;
  }
}
@media (max-width: 470px) {
  nav {
    width: 100%;
  }
  nav li {
    width: 50%;
    float: left;
  }
  nav li:first-child a {
    margin-left: 0px;
  }
  nav a {
    display: block;
    margin-left: 0px;
    margin-bottom: 25px;
  }
}
a[href="pages/seminare.html"],
a[href="seminare.html"] {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 0px;
  height: 0px;
}
nav li a[href="seminare.html"],
nav li a[href="pages/seminare.html"] {
  margin-bottom: 0px;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.homepage .bg {
  z-index: -1;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: url(../images/bcg.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 800px;
}
.homepage h4 {
  text-align: center;
  font-family: GothamRounded-Book;
  font-size: 18px;
  color: #211F21;
  line-height: 25px;
  margin: 70px 0 140px;
}
.homepage h4 span {
  font-size: 15px;
}
.homepage .content {
  padding: 0 20px;
}
@media (max-width: 680px) {
  .homepage .bg {
    visibility: hidden;
  }
  .homepage h4 {
    text-align: center;
    font-family: GothamRounded-Book;
    font-size: 18px;
    color: #211F21;
    line-height: 25px;
    margin: 70px 0 30px;
  }
  .homepage h4 span {
    font-size: 15px;
  }
}
.article-page {
  background-color: #211f21;
}
.article-page header {
  background-image: url(../images/bcg.jpg);
  background-size: cover;
  height: 210px;
  width: 100%;
}
.wrapper {
  width: 664px;
  margin: 0 auto;
}
.wrapper .content {
  padding-top: 20px;
  color: #fff;
  padding-left: 170px;
}
.content {
  padding-bottom: 50px;
}
.content ul > li {
  font-family: GothamRounded-Book;
  font-size: 14px;
  line-height: 20px;
  margin: 15px 0px;
}
@media (max-width: 680px) {
  .article-page {
    background-color: #fff;
  }
  .article-page header {
    background-image: none;
    height: 310px;
    width: 100%;
  }
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .wrapper .content {
    padding: 0 20px 50px;
    color: #211F21;
  }
  .content {
    padding-bottom: 50px;
  }
  .content ul > li {
    font-family: GothamRounded-Book;
    font-size: 14px;
    line-height: 20px;
    margin: 15px 0px;
  }
}
span.chyba {
  font-size: 11px;
  margin-left: 5px;
}
.registrace .kalkulace input {
  background-color: #211f21 !important;
  border: 1px solid #211f21;
}
.registrace th {
  text-align: left;
}
.zavazne-prihlas {
  display: block;
  margin: 30px auto 50px !important;
}
.checkbox-array div {
  margin: 5px 0px !important;
}
.registration-table {
  margin: 0 auto;
}
.registration-table th {
  padding-right: 9px;
}
.registarce {
  /* Force table to not be like tables anymore */
}
.registarce table,
.registarce thead,
.registarce tbody,
.registarce th,
.registarce td,
.registarce tr {
  display: block;
}
.mobile-heading,
.label-mobile {
  visibility: hidden;
  display: none;
}
@media (max-width: 680px) {
  .registration-main-table th {
    visibility: hidden;
    width: 0px;
    position: absolute;
    left: -99999999px;
  }
  .registration-main-table td {
    position: relative;
  }
  .registration-main-table tr {
    margin: 40px 0 0 0;
    display: block;
  }
  .registrace .introduction {
    margin-top: 70px;
  }
  .label-mobile {
    visibility: visible;
    display: block;
    position: absolute;
    top: -21px;
    left: 0px;
  }
  .mobile-heading {
    visibility: visible;
    display: block;
    margin-bottom: 10px;
  }
}
.map .wrapper {
  width: 100%;
}
.map .wrapper .content {
  padding: 0px 0px;
  color: #fff;
  height: 100%;
}
.map .pure-button {
  width: 240px;
}
